#output {
  margin: 0 auto;
  width: max-content;
  background-color: red;
  color: #000;
  font-size: 25px;
  text-align: right;
  padding: 25px;
}

#tolib {
  margin: 0 auto;
  width: max-content;
  background-color: yellow;
  color: #000;
  font-size: 25px;
  padding: 30px;
}

#shokir {
  margin: 0 auto;
  width: max-content;
  background-color: green;
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: 600;
  transform: rotate(90deg);
}